<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改参赛申报')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-declare-edit" th:object="${prizeDeclare}">
            <input name="declareId" th:field="*{declareId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请人ID：</label>
                <div class="col-sm-8">
                    <input name="applicantId" th:field="*{applicantId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请部门：</label>
                <div class="col-sm-8">
                    <input name="applicantDept" th:field="*{applicantDept}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">赛项名称：</label>
                <div class="col-sm-8">
                    <input name="matchName" th:field="*{matchName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">竞赛类别;字典：</label>
                <div class="col-sm-8">
                    <input name="competitionCategory" th:field="*{competitionCategory}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">竞赛等级;字典：</label>
                <div class="col-sm-8">
                    <input name="competitionLeve" th:field="*{competitionLeve}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属专业群ID;字典：</label>
                <div class="col-sm-8">
                    <input name="professionalId" th:field="*{professionalId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">承办单位：</label>
                <div class="col-sm-8">
                    <input name="undertaker" th:field="*{undertaker}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">参赛地点：</label>
                <div class="col-sm-8">
                    <input name="contestAddress" th:field="*{contestAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">参赛预估金额：</label>
                <div class="col-sm-8">
                    <input name="estimateAmount" th:field="*{estimateAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属课程;多选??：</label>
                <div class="col-sm-8">
                    <input name="ascriptionCurriculum" th:field="*{ascriptionCurriculum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">比赛时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="matchTime" th:value="${#dates.format(prizeDeclare.matchTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">初赛申请审批意见：</label>
                <div class="col-sm-8">
                    <input name="processOpinion" th:field="*{processOpinion}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流程ID(状态);字典：</label>
                <div class="col-sm-8">
                    <input name="processId" th:field="*{processId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">租户号：</label>
                <div class="col-sm-8">
                    <input name="tenantId" th:field="*{tenantId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">乐观锁：</label>
                <div class="col-sm-8">
                    <input name="revision" th:field="*{revision}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <input name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="createdTime" th:value="${#dates.format(prizeDeclare.createdTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新人：</label>
                <div class="col-sm-8">
                    <input name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="updatedTime" th:value="${#dates.format(prizeDeclare.updatedTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/declare";
        $("#form-declare-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-declare-edit').serialize());
            }
        }

        $("input[name='matchTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='createdTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updatedTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>